@{
    ViewData["Title"] = "Beer brewing Machine";
}

<h1>@ViewData["Title"]</h1>


<body>
    <!-- https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.html.formextensions.beginform?view=aspnet-mvc-5.2  -->
    <table>
        <tr>
            <td colspan="5">
                <p>Here you can choose which state you want to set the beer brewing machine in</p>
            </td>
        </tr>
        <tr>
    @using (Html.BeginForm())
    {
        <td>
            <button type="submit" name="submit" id="start" value=2>Start</button>
        </td>
        <td>
            <button type="submit" name="submit" id="stop" value=3>Stop</button>
        </td>
        <td>
            <button type="submit" name="submit" id="clear" value=5>Clear</button>
        </td>
        <td>
            <button type="submit" name="submit" id="reset" value=1>Reset</button>
        </td>
        <td>
            <button type="submit" name="submit" id="abort" value=4>Abort</button>
        </td>
        <td>
            <input value="@ViewBag.SubmitValue" readonly/>
        </td>
    }
        </tr>
    </table>

</body>