@model List<MVCEngiBeering.ViewModels.BBMachineViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EngiBeering</h1>
    <p>Please choose the Beer brewing machine you wish to use.</p>
    
    
    
    @foreach (var machine in Model)
    {
        <a href="machine/get/@Html.DisplayFor(modelitem => machine.id)"><button>Machine @Html.DisplayFor(modelitem => machine.id)</button></a>
    }

</div>