@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EngiBeering</h1>
    <p>Please choose the Beer brewing machine you wish to use.</p>

    @using (Html.BeginForm())
    {
    <button type="submit" name="machine" value=1 asp-action="BBMachine">Machine 1</button>
        <button type="submit" name="machine" value=2 asp-action="BBMachine">Machine 2</button>

    }
</div>
