@using Microsoft.EntityFrameworkCore.Infrastructure
@model MVCEngiBeering.Models.BBMachine

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@Html.DisplayFor(model => model.Id)

