
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BatchReport</title>
</head>
<body>
    <h1>Machine X</h1>
    <table width="100%">
        <tr>
            <td>
                <h2>Batch id</h2>
                <p>X</p>

            </td>
            <td>
                <h2>Product type</h2>
                <p>X</p>

            </td>
            <td>
                <h2>Total amount</h2>
                <p>X</p>

            </td>
            <td>
                <h2>Speed</h2>
                <p>X</p>

            </td>
        </tr>
    </table>

    <table width="100%">
        <tr>
            <td>
                <h4>Timestamp</h4>

            </td>
            <td>
                <h4>Current state</h4>

            </td>
            <td>
                <h4>Products produced</h4>

            </td>
            <td>
                <h4>Defective product</h4>

            </td>
            <td>
                <h4>Errors</h4>

            </td>
            <td>
                <h4>Vibration</h4>

            </td>
            <td>
                <h4>Humidity</h4>

            </td>
            <td>
                <h4>Temperature</h4>

            </td>
        </tr>
    </table>

    <!-- This table should be auto created from the Batchreport that has gathered relevant data from the database -->
    <table>
        <tr>
            <td>
            <p>values</p>
            </td>
        </tr>
    </table>

</body>
</html>
