
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BatchReport</title>
</head>
<body>
    <h1>Machine X</h1>
    <table>
        <tr>
            <td>
                <p>Name of all parameters that are being monitored</p>
            </td>
        </tr>
    </table>

</body>
</html>
